/* --- Proprietà generali --- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nerko One', cursive;
  background-color: lightblue;
}

/* --- Proprietà header --- */
header{
  min-height: 120px;
  text-align: center;
  min-width: 930px;
}
h1{
  font-size: 80px;
  line-height: 120px;
  color: white;
  text-shadow: 2px 2px black;
}

/* --- Proprietà main --- */
  /* --- Container ha volutamente una dimensione minima di Zpx, perchè avere una carta sotto l'altra non avrebbe più senso in questo gioco. Vale lo stesso per max width, non voglio avere più di 4 carte in fila (questo mi evita anche di creare 1 sezione per ogni riga di carte)--- */
.container{
  text-align: center;
  width: 90%;
  min-width: 930px;
  max-width: 1080px;
  margin: 20px auto;
}

  /* Proprietà generica della carta */
.carta{
  height: 230px;
  width: 200px;
  display: inline-block;
  background-color: white;
  margin: 0 10px;
}
